<p>contact-list works!</p>
<label for="firstName"></label>
<input id="firstName" #addFirstName type="text">
<label for="lastName"></label>
<input id="lastName" #addLastName type="text">

<button (click)="addContact(addFirstName.value, addLastName.value)" type="button">
  Add
</button>
<table>
  <tr>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Birth at</td>
  </tr>
  <tr *ngFor="let item of contactService.contactList, index as index">
    <td>
      {{item.firstName}}
    </td>
    <td>
      {{item.lastName}}
    </td>
    <td>
      {{item.birthAt}}
    </td>
    <td>
      <button type="button" [routerLink]="['/editcontact', index]">
        Edit
      </button>
    </td>
    <td>
      <button type="button" (click)="delete(item.id)">
        Delete
      </button>
    </td>
  </tr>
</table>

